inc/champsim_constants.h
inc/cache_modules.inc
inc/ooo_cpu_modules.inc
src/core_inst.cc
.champsimconfig_cache
./Makefile

bin/
obj/

**/*.o
**/*.d

tracer/pin/obj-intel64/

.csconfig/
_configuration.mk

**/__pycache__/
*.pyc

bin/

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

traces/
compile_commands.json
.cache/
.vscode/